<div class="container mt-4">
  <h2>Products</h2>
  <p>Welcome to the products page! Here you will find a list of our amazing products.</p>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price ($)</th>
        <th scope="col">Selected</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <span *ngIf="product.selected" class="badge bg-success">Yes</span>
          <span *ngIf="!product.selected" class="badge bg-secondary">No</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
